body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.projectList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.projectList li {
  font-size: 25px;
  margin-bottom: 30px;
}

.projectMilestones {
  font-size: 25px;
  list-style-type: none;
}

.projectsHeading {
  font-size: 40px;
}
